profiles {

  singularity {
    singularity.enabled = true
    process.container = 'oncornalab/fusionprimerxl:latest'

  }

  local {
  	docker.enabled = true
    process.container = 'oncornalab/fusionprimerxl:latest'

  }
  
  standard {
    params.mail =""
    // use docker
    docker.enabled = true
    process.container = 'oncornalab/fusionprimerxl:latest'
    // default parameters
    params.input_bed = "$projectDir/input/input_fusionRNAs.bed"
    params.index_bowtie = "$projectDir/assets/GRCh38/index_bowtie"
    params.index_bowtie_name = "hg38_cdna"
    params.index_fasta = "$projectDir/assets/GRCh38/index_fastahack"
    params.index_fasta_name = "Homo_sapiens.GRCh38.dna.primary_assembly.fa"
    params.primer_settings = "$projectDir/assets/primer3_settings.txt"
    params.chrom_file = "$projectDir/assets/GRCh38/chrom_sizes_GRCh38.txt"
    params.known_exons = "$projectDir/assets/GRCh38/Known_exons_GRCh38.111.bed"
    params.list_ENST = "$projectDir/assets/GRCh38/ENST_list_GRCh38.txt"
    params.output_dir = "$projectDir/output"
    params.splice = 'yes'
    params.primer3_diff = 1
    params.primer3_nr = 20
    params.min_tm = 58
    params.opt_tm = 59
    params.max_tm = 60
    params.diff_tm = 2
    params.min_gc = 30
    params.opt_gc = 50
    params.max_gc = 80
    params.amp_min = 50
    params.amp_max = 0 // this param is set to 0, so that it can be adjusted depending on temp_l if the user does not supply amp_max
    params.temp_l = 150
    params.snp_filter = 'strict'
    params.spec_filter = 'strict'
    params.upfront_filter = "yes"
    params.snp_url = 'http://hgdownload.soe.ucsc.edu/gbdb/hg38/snp/dbSnp155Common.bb'
    params.help = false
  }

  example {
    docker.enabled = true
    process.container = 'oncornalab/fusionprimerxl:latest'
    params.output_dir = "$baseDir/example/output"
    params.input_bed = "$baseDir/example/input_fusionRNAs.bed"
    params.index_fasta = "$baseDir/example/GRCh38/index_fastahack"
    params.index_fasta_name = "Homo_sapiens.GRCh38.dna.chromosome.1.fa"
    params.index_bowtie = "$baseDir/example/GRCh38/index_bowtie"
    params.index_bowtie_name = "GRCh38_dna_small"
    params.known_exons = "$baseDir/example/GRCh38/known_exons_GRCh38_small.bed"
    params.chrom_file = "$projectDir/example/GRCh38/chrom_sizes_GRCh38_small.txt"
    params.list_ENST = "$projectDir/example/GRCh38/ENST_list_GRCh38_small.txt"
    params.help = false
  }
  
  both {
    docker.enabled = true
    process.container = 'fusionprimerxl:both'
  }
  
  nf_runner {
    docker.enabled = false
  }
 
}

